.flex-grow {
  flex-grow: 1;
}

.flex-align {
  align-items: center;
  gap: 20px;
}

.flex-narrow {
  flex-basis: 200px;
}

.main-create-flex {
  flex-direction: column;
  gap: 20px;
  padding: 20px 0;
}
