.table {
  padding: 0 10px;
}

/* .table .ant-pagination-total-text {
  margin-right: auto;
  margin-left: 30px;
}

.table .ant-pagination-options {
  margin-right: 30px;
  margin-inline-start: auto !important;
} */

.table .ant-pagination-total-text {
  position: absolute;
  left: 30px;
  bottom: 0;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 10px;
  background-color: #262626;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #141414;
}

.row-warning {
  background-color: #7c4a15;
}

.row-warning:hover td {
  background-color: #aa6215 !important;
}

.row-danger {
  background-color: #791a1f;
}

.row-danger:hover td {
  background-color: #a61d24 !important;
}

.row-ok {
  background-color: #306317 !important;
}

.row-ok:hover td {
  background-color: #3c8618 !important;
}

.row-custom {
  background-color: #15417e;
}

.row-custom:hover td {
  background-color: #1554ad !important;
}

.result-actions {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.row-action-space {
  width: 32px;
}
